* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  
  .profile-container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 90px;
  }
  
  .profile-main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }
  
  .profile-content {
    flex: 1;
  }
  
  h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 1.1;
  }
  
  .subtitle {
    font-size: 20px;
    margin-bottom: 3rem;
  }
  
  .about-section {
    margin-top: 2rem;
  }
  
  .about-section h2 {
    font-size: 20px;
    margin-bottom: 1rem;
  }
  
  .about-section p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #FAFAFA;
  }
  
  .about-section a {
    color: #fff;
    text-decoration: underline;
    font-weight: 500;
  }
  
  .profile-image {
    margin-top: 1rem;
  }
  
  .profile-image img {
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #222;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .profile-main {
      flex-direction: column-reverse;
    }
    
    h1 {
      font-size: 3rem;
    }
    
    .profile-image {
      align-self: center;
      margin-bottom: 2rem;
    }
  }