body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: #08090A;
  color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}